<% if logged_in? %>
    <div class="row">
        <aside class="col-md-4">
            
    <%= form_for(@task) do |f| %>
    <div class="form-group"><%= f.text_area :content, class: 'form-control', rows: 5 %></div>
    
    <%= f.submit 'Post', class: 'btn btn-primary btn-block' %>

<% end %>
        </aside>
        <div class="col-xs-8>
        
<%= render 'tasks/tasks', tasks: @tasks %>

        </div>
    </div>
<% else %>
    <div class="center jumbotron">
        <div class="text-center">
        <h1>Welcome to the Tasklists</h1>
<%= link_to 'Sign up now !', signup_path, class: 'btn btn-lg btn-primary' %>
        </div>
    </div>
<% end %>

<% @tasks.each do |task| %>
         <tr>
             <td><%= link_to task.id, task %></td>
             <td><%= task.status %></td>
             <td><%= task.content %></td>
         </tr>
<% end %>


        </tbody>
        </table>
        
<div><%= paginate @tasks %></div>


    